/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Nunito:200,400|Roboto+Condensed|Sunflower:300,500,700');


/*Reset*/

*, body {}

*, h1, h2, h3, h4, h5, h6, li, p, a, nav, body {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}


/* End reset section */


/* uniform styles */

body {
    background-color: #2D2D2D;
    position: relative;
}

.outerwrap {
    border-left: medium solid rgba(227, 227, 227, 0.2);
    margin-left: 7em;
    height: 2000px;
    position: absolute;
    top: 0;
    left: 0;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito";
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

a {
    text-decoration: none;
}


/* nav styles */
nav div.name {
    float: left;
}

nav h1 a, nav h2 a, nav li a {
    color: #e3e3e3;
}

nav h1 {
    font-size: 70px;
    padding-left: 40px;

}

nav h2 {
    font-size: 50px;
    padding-left: 40px;
}

nav ul {
    display: inline-block;
    margin-left: 3em;
}

nav li {
    margin-top: 1.7em;
    list-style: none;
    display: inline-block;
    padding: 1em;
}

nav li a:hover {
    color: orangered;
    border-left: thin solid orangered;
    border-bottom: thin solid orangered;
}

nav li a {
    font-family: "Sunflower";
    font-weight: 300;
    padding-left: 0.4em;
    padding-bottom: 0.4em;
    border-left: thin solid #e3e3e3;
    border-bottom: thin solid #e3e3e3;
}

nav a.currentPage {
    border-left: thin solid rgba(238, 238, 238, 0.1);
    border-bottom: thin solid rgba(238, 238, 238, 0.1);

}